:root {
  --primary: red;
  --secondary: black;
  --imp: #fffce8;
}
.header img {
  height: 90% !important;
  width: auto;
  margin-left: 1rem;
  aspect-ratio: 1/1;
  
}
.body-of-layout {
  height: 125vh;
}
.header {
  background-color: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  
}
.upperh{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
.navi {
  width: 100%;
  height: 100%;
}

.navigation-bar {
  height: 100%;
  width: 50%;
}

.header * {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.listu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: larger;
  font-weight: bold;
}
.list {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.list,
.listu {
  height: 100%;
}
.list:hover {
  background-color: var(--imp);
  text-decoration: underline;
}
.main{
  height: 60vh;
}
.order{
  height: 20%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ordernow{
  height: 50%;
  width: 40%;
 
}